/* Media Queries for Responsive Design */





@media (max-width: 1134px){

    .hero-text h1{
        font-size: 64px;
    }
    .hero-text p{
        font-size: 18px;
    }
    .hero-img img{
        height: 400px;
    }
    .logo-text p{
        text-wrap: nowrap;
        font-size: 12px;
    }
}
@media (max-width: 1090px){
    .card-temp{
        flex-wrap: wrap;

    }
    .nav-list{
        font-size: 13px;
    }
}
@media (max-width: 1040px){
    .sec-6-content{
        flex-direction: column;
        align-items: center;
    }
    .con-left p{
        display: none;
    }
    .sec-6-content2{
        justify-content: center;
        margin-left: 50px;
    }
    .con-left{
        width: 0;
        display: none;
    }
    .con-left p{
        display: none;
    }
    .sec-6-left-text{
        max-width: 100%;
    }
    .sec-6-left-p1{
        display: none;
    }
    .sec-6-left-p2{
        display: block;
    }
    .sec-6-right-text p{
        max-width: 100%;
    }
    .sec-6-content{
        align-items: start;
        gap: 20px;
    }
}
@media (max-width: 1070px){
    .hero-sec {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
      }
      #dynamic-image{
        width: 100%;
        height: auto;

      }
      .inp-btn {
        flex-direction: column;
        gap: 5px;
      }
    
      .hero-img {
        display: none;
      }
    
      .inp-btn {
        justify-content: center;
      }
      .sec12-left{
        flex-direction: column;
        padding-bottom: 20px;
    
    }
    .sec12-flex{
        align-items: center;
        flex-direction: column;
    }
    .footer-flex{
        padding: 0 35px;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .logo-div{
        flex-direction: column;
    }
    .logo-img{
        gap: 30px;
    }
    .logo {
        flex: 0 1 calc(33.33% - 70px); /* Three items per row */
        text-align: center;
    }
    .phone-img{
        display: none;
    }
    .sec-6-left-text p{
        max-width: 100%;
    }
    .hero-text{
        padding-left: 0px;
    }
}
@media (max-width:926px){
    .sec-7-content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .container{
        flex-direction: column;
        height: 1300px;
    }
    .part{
        height: 220px;
    }
    .part2{
        height: 220px;
    }
    .part3{
        height: 220px;
    }
    .part4{
        height: 220px;
    }
    .part5{
        height: 220px;
    }
    .sec-10-content{
        flex-direction: column-reverse;
    }
    .sec13-content{
        padding: 22px 35px;
    }
}
@media (max-width:630px){
    .footer-flex{
        display: block;
    }
    .sec11-h3{
        padding-top: 20px;
    }
}
@media (max-width:700px){
    .sec-8-p2{
        padding: 30px;
    }
    .sec-5-p2{
        padding: 30px;
    }
}
@media (max-width:535px){
    .upper-nav-con{
        padding: 12px 16px;
    }
    .nav-btn{
        padding: 4px 8px;
        font-size: 11px;
    }
    
}
@media (max-width:470px){
    .sec-6-left-text p{
        max-width: 100%;
    }
    .sec-6-right-text p {
        max-width: 100%;
    }
    .sec-6-list{
        flex-direction: column;
        gap: 0;
    }
    .sec-6-left-p1{
        display: none;
    }
    .sec-8-num-text{
        gap: 100px;
    }
    .text p{
        font-size: 10px
    }
    .sec10-h31{
        font-size: 3rem;
    }
    .sec10-h32{
        font-size: 3rem;
    }
    .part h2{
        font-size: 26px;
        line-height: 1.3;
        padding-top: 60px;
    }
}
@media (max-width:480px){
    .sec-6-left-text h2{
        font-size: 3rem;
        line-height:60px;
    }
}
@media (max-width:400px){
    .sec10-h31{
        font-size: 3rem;
    }
    .sec10-h32{
        font-size: 3rem;
    }
    .sec10-text p{
        font-size: 1rem;
        line-height: 1.7;
    }
    .sec-10-btn{
        padding: 15px 20px;
        font-size: 14px;
    }
    .sec-9-p2{
        padding: 30px 50px;
    }
}




